<nav class="navbar navbar-expand-xl navbar-light dark-bg">
  <a class="navbar-brand" href="#"><img src="assets/placeholder.png" alt="logo" width="120px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item"  routerLinkActive="active" >
        <a class="nav-link"routerLink="/grid1">Grid 1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/grid2">Grid 2</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/grid3">Grid 3</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/grid4">Grid 4</a>
      </li>
    </ul>
  </div>
</nav>